* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #F2F2F2;;
    
}

.container {
    width: 375px;
    height: 2615px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 22px 16px 38px 16px;
}
.header p {
    font-size: 28px;
    font-weight: 800;
}
.header button {
    background-color: hsl(233, 54%, 16%);
    color: white;
    width: 140px;
    height: 48px;
    border-radius: 48px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    
}

main h1 {
     font-weight: 800;
     font-size: 40px;
     margin-bottom: 26px;
     margin-left: 16px;
     margin-right: 16px;
}
main p {
    font-weight: 500;
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    line-height: 26px;
    color: rgba(131, 134, 154, 1);
    
}

.main-btn {
    width: 167px;
    height: 56px;
    border-radius: 31.5px;
    border: 0;
    background: linear-gradient(rgba(255, 111, 72, 1),rgba(240, 42, 166, 1));
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 22px;
    margin-left: 16px;
}


.hero-img {
    /* background-image: url(assets/image-hero-mobile.png); */
    /* width: 238.72px;
    height: 329.93px; */
    width: 100%;
    /* background-repeat: no-repeat; */
   
}

 

.check-out-courses {
    width: 343px;
    height: 120px;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 111, 72, 1),rgba(240, 42, 166, 1));
    margin-left: 16px;
    margin-right: 16px;
    color:rgba(255, 255, 255, 1);
    padding-top: 25px;
    padding-left: 30px;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: -15px;
    
   
}
 .middle {
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
 .animation-box {
    background-color: rgba(255, 255, 255, 1);
    width: 343px;
    height: 259px;
    border-radius: 10px;
    margin-bottom: 40px;
 }
 .animation-box img {
     margin-left: 24px;
     margin-top: -25px;
     margin-bottom:24px ;
 }
    
 .animation-box h4 {
     font-size: 20px;
     font-weight: 800;
     margin-left: 28px;
     margin-bottom: 16px;
   
 }
 .animation-box p {
    width: 286px;
    height: 78px;
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
    font-style: normal;
    color: hsl(232, 10%, 56%);
    margin-bottom: 24px;
    margin-left: 28px;
 }
 .animation-box a {
    color: rgba(247, 71, 128, 1);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: 28px;
 }



 .design-box {
    background-color: rgba(255, 255, 255, 1);
    width: 343px;
    height: 259px;
    border-radius: 10px;
    margin-bottom: 40px;
 }
 .design-box img {
     margin-left: 24px;
     margin-top: -25px;
     margin-bottom:24px ;
 }
    
 .design-box h4 {
     font-size: 20px;
     font-weight: 800;
     margin-left: 28px;
     margin-bottom: 16px;
   
 }
 .design-box p {
    width: 286px;
    height: 78px;
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
    font-style: normal;
    color: hsl(232, 10%, 56%);
    margin-bottom: 24px;
    margin-left: 28px;
 }
 .design-box a {
    color: rgba(247, 71, 128, 1);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: 28px;
 }


 .photography-box {
    background-color: rgba(255, 255, 255, 1);
    width: 343px;
    height: 259px;
    border-radius: 10px;
    margin-bottom: 40px;
 }
 .photography-box img {
     margin-left: 24px;
     margin-top: -25px;
     margin-bottom:24px ;
 }
    
 .photography-box h4 {
     font-size: 20px;
     font-weight: 800;
     margin-left: 28px;
     margin-bottom: 16px;
   
 }
 .photography-box p {
    width: 286px;
    height: 78px;
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
    font-style: normal;
    color: hsl(232, 10%, 56%);
    margin-bottom: 24px;
    margin-left: 28px;
 }
 .photography-box a {
    color: rgba(247, 71, 128, 1);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: 28px;
 }


 .Crypto-box {
    background-color: rgba(255, 255, 255, 1);
    width: 343px;
    height: 259px;
    border-radius: 10px;
    margin-bottom: 40px;
 }
 .Crypto-box img {
     margin-left: 24px;
     margin-top: -25px;
     margin-bottom:24px ;
 }
    
 .Crypto-box h4 {
     font-size: 20px;
     font-weight: 800;
     margin-left: 28px;
     margin-bottom: 16px;
   
 }
 .Crypto-box p {
    width: 286px;
    height: 78px;
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
    font-style: normal;
    color: hsl(232, 10%, 56%);
    margin-bottom: 24px;
    margin-left: 28px;
 }
 .Crypto-box a {
    color: rgba(247, 71, 128, 1);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: 28px;
 }


 .business-box {
    background-color: rgba(255, 255, 255, 1);
    width: 343px;
    height: 259px;
    border-radius: 10px;
    margin-bottom: 80px;
 }
 .business-box img {
     margin-left: 24px;
     margin-top: -25px;
     margin-bottom:24px ;
 }
    
 .business-box h4 {
     font-size: 20px;
     font-weight: 800;
     margin-left: 28px;
     margin-bottom: 16px;
   
 }
 .business-box p {
    width: 286px;
    height: 78px;
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
    font-style: normal;
    color: hsl(232, 10%, 56%);
    margin-bottom: 24px;
    margin-left: 28px;
 }
 .business-box a {
    color: rgba(247, 71, 128, 1);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: 28px;
 }

 .bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    background: #13183F;
    color: #FFFFFF;
    
 }
.bottom-box h4 {
    margin-left: 16px;
    font-size: 28px;
}
.bottom-box button {
    height: 48px;
    width: 140px;
    border-radius: 28px;
    border: none;
    margin-right: 16px;
    color: #fff;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);

}


@media screen and (min-width: 768px) {


    .container {
        width: 768px;
        height: 1780px;
        background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
        overflow: hidden;
        
    }
    
   .header {
    margin-top: 0;
    margin-bottom: 0;
   }

    .header p {

        margin-left: 31px;
        margin-top: 31px;
       
        
    }

    .header button {
       width:140px ;
       height: 48;
       margin-top:24px ;
       margin-right: 40px;
        
    }


    main h1 {
        width: 326px;
        height: 101px;
        font-weight: 800;
        font-size: 40px;
        margin-left: 39px;
        margin-top: 99px;
        margin-bottom: 0;
       
        
   }
    .hero-img {
        display: none;
    }

   .hero-img-tablet {
    
    width: 640.71px;
    height: 640px;
    margin-left: 370px;
    margin-top: -550px;

    
    background-image: url(assets/image-hero-tablet.png);
    /* overflow: hidden; */
   

   }
   
   
   main p {
    width: 398px;
    height: 78px;
    Line-height: 26px;
    margin-left: 39px;
   }
   .main-btn {
    margin-left: 39px;
   
   }

   .middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    
    
   }
   .check-out-courses {
    width: 339px;
    height: 259px;
    margin-left: 39px;
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 0;
   }

   .animation-box {
    margin-left: 11px;
    margin-bottom: 0;
    margin-top: 3px;
   }
   .design-box {
    margin-left: 39px;
    margin-top: 56px;
    margin-bottom: 0;
   }
   .photography-box {
    margin-left: 11px;
    margin-top: 56px;
    margin-bottom: 0;
   }
   .Crypto-box {
    margin-left: 39px;
    margin-top: 56px;
    margin-bottom: 0;
   }
   .business-box {
    margin-left: 11px;
    margin-top: 40px;
    margin-top: 56px;
    margin-bottom: 0;
   }

   .bottom-box {
    margin-top: 86px;
   }

}



@media screen and (min-width: 1440px) {
    
    

    .container {
        width: 1440px;
        height: 1650px;
    }
    .header {
        margin-right: 0;
        margin-right: 0;
    }
    .header p {
        margin-left: 165px;
        margin-top: 38px;
        
    }
    .header button {
        margin-top: 24px;
        margin-right: 165px;
    }

    .hero-img-tablet {
        display: none;
    }
    .hero-img-desktop {
      background-image: url(assets/image-hero-desktop.png);
      height: 880px;
      width: inherit;
      margin-left: 760px;
      margin-top: -770px;

    }

    main h1 {
        margin-top: 175px;
        margin-left: 165px;
       
    }
    main p {
        height: 84px;
        width: 380px;
        margin-left: 165px;
        margin-top: 29px;
        margin-bottom: 0;
    }

    .main-btn {
        margin-left: 165px;
        margin-top: 40px;
    }
    
    .middle {
        margin-left: 165px;
        
    }

    .check-out-courses {
        margin-left: 0;
        
    }
    .animation-box {
        margin-left: 30px;
    }
    .design-box {
        margin-left: 30px;
        margin-top: 0;
    }
    .photography-box {
        margin-left: 0;
        margin-top: 80px;
    }
    .Crypto-box {
        margin-top: 80px;
        margin-left: 30px;
    }
    .business-box {
        margin-left: 30px;
        margin-top: 80px;
    }


    .bottom-box {
        height: 120px;
        width: 1440px;
        margin-top: 140px;
        

    }

    .bottom-box h4 {
        margin-left: 165px;
    }

    .bottom-box button {
        margin-right: 165px;
    }

    .bottom-box button:hover{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    }
    .main-btn:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    }
    .header button:hover {
        background: #666CA3;
    }

}
    
